{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Analytics System</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <h2>Employee Analytics System</h2>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/employees">Employees</a></li>
            <li><a href="/analytics">Analytics</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>

    <!--Hero Section-->
   <div class="hero">
       <img src="{% static 'images/employee.jpg' %}" alt="Emplpyee Banner">
       <h1>Welcome To Employee Analytics System </h1>

       <p>
            This project is developed using Python, Django,
            Pandas and NumPy to analyze employee information
            and generate useful insights.
       </p>
       <a href="/employees/" class = "btn">
           View Employees
       </a>
</body>
</html>